<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>145561982761-r2montjc4ut8gaq7cra67b25if6s1ete.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.145561982761-r2montjc4ut8gaq7cra67b25if6s1ete</string>
	<key>API_KEY</key>
	<string>AIzaSyD2Pac3DgD9o5bvIevDIMAKWtOQIkl0DU8</string>
	<key>GCM_SENDER_ID</key>
	<string>145561982761</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rehabFlutterApp</string>
	<key>PROJECT_ID</key>
	<string>cu-touch-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>cu-touch-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:145561982761:ios:41136d1348506a48940938</string>
</dict>
</plist>